/***************************
 * Interactable Buttons
 ***************************/
.dateInput {
    background: rgb(var(--secondary-rgb));
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 10px;
    color: white;
    border: none;
}

.dateInput:hover {
    cursor: pointer;
    background-color: rgb(var(--secondary-rgb), 0.67);
}

.genresbutton {
    background: rgb(var(--secondary-rgb));
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 12px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
}

.genresbutton:hover {
    cursor: pointer;
    background-color: rgb(var(--secondary-rgb), 0.67);
}

/***************************
 * Table Components
 ***************************/
.reportTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #faf5f5;
}

.reportTable td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

.reportTable th {
    background-color: rgb(var(--accent-rgb));
    font-weight: bold;
    padding: 12px 15px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

.reportTable tr:hover {
    cursor: pointer;
    background-color: rgb(var(--secondary-rgb), 0.67);
}

/***************************
 * Report Page Layout
 ***************************/

.error {
    margin-top: 20px;
}

.reportContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.excessReport {
    flex: 2;
    margin-right: 20px;
    margin-top: 50px;
    margin-left: 20px;
}

.restockReport {
    flex: 1;
    margin-left: 20px;
    margin-top: 50px;
    margin-right: 20px;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 2rem;
}

.loading {
    color: rgb(var(--background-rgb));
    background-color: rgb(var(--text-rgb));
    cursor: wait;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
}

.loading:hover {
    color: rgb(var(--background-rgb));
    background-color: rgb(var(--text-rgb));
    cursor: wait;
}

.navbarFlex {
    display: inline-flex;
  }
  
  .navbarButton {
    background-color: #ccc;
    color: #333;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0;
  }
  
  .navbarButton:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
  }
  
  .navbarButton:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
  }
  
  .navbarButton:hover {
    background-color: #bbb;
  }
  
  .navbarButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .navbarButton.bg-gray-400 {
    background-color: #bbb;
  }
  