/* Interactable Buttons */
.dateInput {
    background: rgb(var(--secondary-rgb));
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 10px;
    color: white;
    border: none;
}

.dateInput:hover {
    cursor: pointer;
    background-color: rgb(var(--secondary-rgb), 0.67);
}

.genresbutton {
    background: rgb(var(--secondary-rgb));
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
}

.genresbutton:hover {
    cursor: pointer;
    background-color: rgb(var(--secondary-rgb), 0.67);
}

/* Navigation Bar Buttons */
.navbarbutton {
    background-color: silver;
    color: black;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbarbutton:hover {
    background-color: #b3b3b3;
}

.prevButton,
.nextButton {
    font-weight: bold;
}

.currentButton {
    background-color: #999999;
    color: white;
    font-weight: bold;
}

.ellipsis {
    margin: 0 8px;
    color: #666666;
}

/* Table Components */
.reportTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #faf5f5;
}

.reportTable td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.reportTable th {
    background-color: rgb(var(--accent-rgb));
    font-weight: bold;
    padding: 12px 15px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

.reportTable tr:hover {
    cursor: pointer;
    background-color: rgb(var(--secondary-rgb), 0.67);
}

/* Report Page Layout */
.error {
    margin-top: 20px;
}

.reportContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.excessReport {
    flex: 2;
    margin-right: 20px;
    margin-top: 50px;
    margin-left: 20px;
}

.restockReport {
    flex: 1;
    margin-left: 20px;
    margin-top: 50px;
    margin-right: 20px;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 2rem;
}

.loading {
    color: rgb(var(--background-rgb));
    background-color: rgb(var(--text-rgb));
    cursor: wait;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
}

.loading:hover {
    color: rgb(var(--background-rgb));
    background-color: rgb(var(--text-rgb));
    cursor: wait;
}

/* Navigation Bar Buttons */
.dropdown {
    background-color: silver;
    color: #333333;
    border: none;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown:hover {
    background-color: rgb(144, 142, 142);
}

.navbarbutton {
    background-color: silver;
    color: #333333;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbarbutton:hover {
    background-color: rgb(144, 142, 142);
}

.prevButton,
.nextButton {
    font-weight: bold;
}

.currentButton {
    background-color: #999999;
    color: white;
    font-weight: bold;
}

.ellipsis {
    margin: 0 8px;
    color: #666666;
}

.tableControls {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.paginationControls {
    display: flex;
    align-items: center;
}
