.inventoryMain {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto 1fr;
    gap: 1rem;
    padding: 1rem;
}

.inventoryMain h1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.refreshButton {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 0 0 auto auto;
}

.inventoryAdjuster{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin: 0 auto;
}