@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    @apply bg-background text-text;
    top: 0 !important; /* Override google translate styling for body */
}

a {
    @apply text-inherit no-underline;
}

li {
    list-style-type: none;
}

@layer components {
    /* Hide google translate top bar */
    iframe.skiptranslate {
        visibility: hidden !important;
    }

    /* Navbar */
    .navLink::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 0.5rem;
        transform: translateY(100%);
        transition: 200ms ease;
        z-index: 51;
        @apply bg-text;
    }

    .navLink.current::before {
        transform: translateY(0);
    }

    .navLink::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 0.5rem;
        transform: translateY(100%);
        transition: 200ms ease;
        z-index: 52;
        @apply bg-primary;
    }

    .navLink:hover::after {
        transform: translateY(0);
    }

    /* Sidebar */

    .sideLink::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 0.5rem;
        transform: translateX(100%);
        transition: 200ms ease;
        z-index: 41;
        @apply bg-background;
    }

    .sideLink.current::before {
        transform: translateX(0);
    }

    .sideLink::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 0.5rem;
        transform: translateX(100%);
        transition: 200ms ease;
        z-index: 42;
        @apply bg-primary;
    }

    .sideLink:hover::after {
        transform: translateX(0);
    }

    /* Main Header */

    .mainHeader::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0.5rem;
        @apply bg-primary;
    }
}
