/* Replace these styles with tailwind if you find them */

.card {
    border: none;
    border-radius: var(--border-radius);
    padding: 1rem;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    border: 1px solid;
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    padding: 5px 10px;
    cursor: pointer;
}

.loading {
    color: rgb(var(--background-rgb));
    background-color: rgb(var(--text-rgb));
    cursor: wait;
}

.loading:hover {
    color: rgb(var(--background-rgb));
    background-color: rgb(var(--text-rgb));
    cursor: wait;
}
