/******************************************
 *           General Components           *
 ******************************************/
/* Layout */

.layoutDiv main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    overflow-y: auto;
    overflow-x: hidden;
}

.table {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

.table th {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: center;
}

.table td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: center;
}

.container {
    position: relative;
    margin: 0;
    padding: 1rem;
    background-color: rgba(var(--primary-rgb), 0.5);
    border: 1px solid rgba(var(--accent-rgb), 0.3);
    border-radius: var(--border-radius);
}

.card {
    border: none;
    border-radius: var(--border-radius);
    padding: 1rem;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    border: 1px solid;
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    padding: 5px 10px;
    cursor: pointer;
}

.loading {
    color: rgb(var(--background-rgb));
    background-color: rgb(var(--text-rgb));
    cursor: wait;
}

.loading:hover {
    color: rgb(var(--background-rgb));
    background-color: rgb(var(--text-rgb));
    cursor: wait;
}
