
.main {
    background: rgb(var(--background-rgb));
    color: rgb(var(--text-rgb));

    height: 100vh;
    display: flex;
    flex-direction: row;
}

/******************************************
 *                 Menu                   *
 ******************************************/
#menu {
    width: calc(100% - 300px);
    padding: 20px;

    overflow: scroll;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#menu h1 {
    text-align: center;
}

#menu ul.bar {
    background-color: rgb(var(--secondary-rgb));

    width: 100%;
    min-height: 100px;

    border: 1pt solid rgb(var(--text-rgb));
    border-radius: 15px;
    padding: 0 15px;

    display: flex;

    justify-content: space-around;
    align-items: center;

    list-style-type: none;
}

#menu #categories {
    justify-content: stretch;
    align-items: stretch;
}

#menu #categories * {
    width: 100%;
    display: inline-block;
}

#menu #categories .category-button {
    background-color: rgb(var(--secondary-rgb));
    color: rgb(var(--text-rgb));
    height: 100%;
    width: 100%;

    font-family: var(--font);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms;
    padding: 1rem;
    border: none;
}

#menu #categories .category-button {
    cursor: pointer;
}

#menu #categories .category-button.active {
    /* TODO: change the colors for active button */
    background-color: rgba(var(--background-rgb), 0.5);
}

/******************************************
 *              Order Siderbar            *
 ******************************************/
#order-sidebar {
    background: rgb(var(--background-rgb));
    color: rgb(var(--text-rgb));
    border-left: 1pt solid rgb(var(--text-rgb));

    height: 100vh;
    width: 300px;
}

#order-box {
    height: 80%;
    overflow: scroll;
}

.order-item {
    height: 200px;
    padding: 10px 10px 20px 10px;
    border: 1pt solid rgb(var(--text-rgb));

    display: grid;
}

.order-item .name {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-item .description {
    font-size: 10pt;
    grid-column: 1 / span 2;
}

.order-item .quantity {
    display: flex;
    justify-content: row;
    align-items: center;
    flex: 1 1 33%;
}

.order-item .quantity * {
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.order-item .quantity button {
    background-color: rgb(var(--background-rgb));
    color: rgb(var(--text-rgb));
    border: 1pt solid rgb(var(--text-rgb));

    text-decoration: none;
    font-size: 16pt;
    margin: 4px 2px;
    cursor: pointer;
}

.order-item .price {
    font-size: 16pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

#order-sidebar button.checkout {
    width: 100%;
    height: 20%;

    background-color: rgb(var(--background-rgb));
    color: rgb(var(--text-rgb));
    border: 1pt solid rgb(var(--text-rgb));
    font-size: 16pt;

    cursor: pointer;
}

#menu-items {
    display: grid;
    width: 100%;
    height: fit-content;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 10rem;
    gap: 10px;
}

#menu-items button.menu-item {
    height: fit-content;
    background: none;
    color: rgb(var(--text-rgb));
    border: none;
    display: block;
    text-align: center;
}

#menu-items button.menu-item img {
    max-width: 150px;
}

#menu-items button.menu-item .name {
    font-size: 24pt;
}

#menu-items button.menu-item .description {
    font-size: 12pt;
    padding: 0 30px;
    text-align: center;
}

#menu-items button.menu-item:hover {
    cursor: pointer;
}

#menu-items button.menu-item:active {
    background: rgba(var(--secondary-rgb), 0.5);
}

#pop-up {
    background: rgb(var(--secondary-rgb));
    position: relative;
    width: 80%;
    height: 50%;
}

button.exit-button {
    background: none;
    color: rgb(var(--text-rgb));
    border: none;
    display: block;
    text-align: center;
    font-size: 24pt;
    position: absolute;
    top: 5px;
    right: 10px;
}

button.exit-button:hover {
    cursor: pointer;
}

button.exit-button:active {
    color: rgba(var(--text-rgb), 0.5);
}
