.main {
    background: rgb(var(--background-rgb));
    color: rgb(var(--text-rgb));

    height: 100vh;
    display: flex;
    flex-direction: row;
}

/******************************************
 *                 Menu                   *
 ******************************************/
#menu {
    width: calc(100% - 300px);
    padding: 20px;

    overflow-y: scroll;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#menu h1 {
    text-align: center;
}

/******************************************
 *               Checkout                 *
 ******************************************/
#order-box {
    width: 500px;
    margin: 20px;
    font-size: 16pt;
    overflow-y: scroll;
}
