#customer-navbar {
    height: 40px;
    width: 50%;
}

#customer-navbar ul {
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#customer-navbar a {
    color: rgb(var(--text-color));
    display: block;
    text-align: center;
    padding: 1em 2em;
    text-decoration: none;
}


#categories {
    height: 40px;
    width: 50%;
}

#categories ul {
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

#categories button {
    background: rgb(var(--secondary-rgb));
    color: rgb(var(--text-color));
    border: none;
    display: block;
    text-align: center;
    padding: 1em 2em;
    text-decoration: none;
}

#categories button:hover {
    cursor: pointer;
}

